<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="schoolshop.cgh.com.schoolshop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/github"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".base.BaseApplication"
        android:theme="@style/AppTheme" >
        <activity android:name=".modules.main.ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.sell.ui.TempActivity">

        </activity>
        <activity android:name=".modules.main.ui.ShopDetailActivity"/>
        <activity android:name=".modules.main.ui.PersonPageActivity"/>
        <activity android:name=".modules.my.ui.SelledActivity"/>
        <activity android:name=".modules.my.ui.SellingActivity"/>
        <activity android:name=".modules.my.ui.BuyActivity"/>
        <activity android:name=".modules.my.ui.FavoriteActivity"/>
        <activity android:name=".modules.my.ui.HelpActivity"/>
        <activity android:name=".modules.message.ui.OrderDetailActivity"/>
        <activity android:name=".modules.my.ui.LoginActivity">

        </activity>
        <activity android:name=".modules.my.ui.RegisterActivity"/>

        <!--图片选择器的activity类-->
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme"/>

        <service android:name=".component.PollingService"/>

    </application>

    <!--用户权限设置-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--the following two permissions are required if you want to take photo in selector  android:hardwareAccelerated="false"-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>